<footer class="bg-light mt-5">
    <div class="my-3 justify-content-center">
        <div class="col-11">
            <div class="row justify-content-between">
                <div class="col-auto align-self-center">
                    <p class="social text-muted mb-0 pb-0 bold-text">
                        <!--<a href="" target="_blank">
                            <span class="mx-2"><i class="fab fa-instagram"></i></span>
                        </a> -->
                    </p>
                    <small class="rights mx-2"><span>&copy;</span> fmontalvoo 2022</small>
                </div>

                <div class="col-auto align-self-center mt-3">
                    <h6 class="text-muted bold-text mx-2"><b>FGMO</b></h6>
                    <a class="text-muted bold-text mx-2" target="_blank"
                        href="https://fmontalvoo.com/">Desarrollador</a>
                    <!-- <a class="text-muted mx-2" routerLink="about">Acerca de</a> -->

                    <!-- <small class="mx-2">
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span> uroba.contact@gmail.com
                    </small> -->
                </div>
            </div>
        </div>
    </div>
</footer>